:root {
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}
body {
  background-color: aqua;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--box-shadow);

  border-radius: 15px;
  overflow: hidden;
}

.container .image-container {
  width: 500px;
  position: relative;
  display: flex;
  border-radius: 15px;
}
.image-container img {
  width: 100%;

  transition: 0.5s;
  border-radius: 15px;
}
i.prev {
  position: absolute;
  left: 3%;
  top: 50%;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
i.next {
  position: absolute;
  right: 3%;
  top: 50%;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
